In [ ]:
                                * CONCEPTS COVERED *
Pandas - groupby(), isin()

In [1]:
import pandas as pd

In [36]:
company=pd.read_csv('fortune500.csv')
company.head(5)

,lon,lat,company,location,industry,state,city
0,-94.2088,36.3729,Walmart,"Bentonville, AR",General Merchandisers,AR,Bentonville
1,-96.9489,32.8140,Exxon Mobil,"Irving, TX",Petroleum Refining,TX,Irving
2,-121.9780,37.7799,Chevron,"San Ramon, CA",Petroleum Refining,CA,San Ramon
3,-95.9980,41.2524,Berkshire Hathaway,"Omaha, NE",Insurance: Property and Casualty (Stock),NE,Omaha
4,-122.0320,37.3230,Apple,"Cupertino, CA","Computers, Office Equipment",CA,Cupertino

In [12]:
industries=company.groupby('industry')
industries

In [13]:
company.shape

(1000, 7)

In [17]:
industries.size().sort_values(ascending=False)

industry
Specialty Retailers: Other                  43
Utilities: Gas and Electric                 39
Mining, Crude-Oil Production                35
Chemicals                                   34
Insurance: Property and Casualty (Stock)    28
                                            ..
Forest and Paper Products                    4
Education                                    3
Toys, Sporting Goods                         2
Mail, Package, and Freight Delivery          2
Advertising, marketing                       2
Length: 74, dtype: int64

In [16]:
len(industries)

74

In [37]:
industries.first().head()

,lon,lat,company,location,state,city
industry,,,,,,
"Advertising, marketing",-74.0059,40.7128,Omnicom Group,"New York, NY",NY,New York
Aerospace and Defense,-87.6298,41.8781,Boeing,"Chicago, IL",IL,Chicago
Airlines,-97.3308,32.7555,American Airlines Group,"Fort Worth, TX",TX,Fort Worth
Apparel,-122.8040,45.4871,Nike,"Beaverton, OR",OR,Beaverton
"Automotive Retailing, Services",-80.1373,26.1224,AutoNation,"Fort Lauderdale, FL",FL,Fort Lauderdale

In [19]:
industries.last().head(5)

,lon,lat,company,location,state,city
industry,,,,,,
"Advertising, marketing",-74.0059,40.7128,Interpublic Group,"New York, NY",NY,New York
Aerospace and Defense,-87.9790,41.9634,AAR,"Wood Dale, IL",IL,Wood Dale
Airlines,-157.8580,21.3069,Hawaiian Holdings,"Honolulu, HI",HI,Honolulu
Apparel,-122.6760,45.5231,Columbia Sportswear,"Portland, OR",OR,Portland
"Automotive Retailing, Services",-98.1245,29.7030,Rush Enterprises,"New Braunfels, TX",TX,New Braunfels

In [22]:
industries.groups

{'Advertising, marketing': [199, 371], 'Aerospace and Defense': [26, 44, 63, 99, 123, 128, 218, 251, 301, 389, 395, 506, 538, 602, 603, 643, 824, 833, 903, 933, 971, 996], 'Airlines': [69, 72, 78, 160, 453, 483, 710, 919], 'Apparel': [105, 247, 350, 373, 489, 534, 540, 678, 738, 778, 805, 890, 899, 976, 981], 'Automotive Retailing, Services': [155, 176, 231, 290, 314, 335, 449, 481, 545], 'Beverages': [62, 367, 436, 529, 548, 605, 755, 874], 'Building Materials, Glass': [497, 652, 714, 754, 763, 816], 'Chemicals': [47, 86, 196, 197, 212, 248, 258, 265, 283, 304, 319, 370, 394, 426, 502, 542, 563, 569, 581, 588, 612, 637, 660, 707, 736, 781, 799, 836, 870, 882, 915, 937, 953, 978], 'Commercial Banks': [20, 22, 27, 29, 75, 81, 87, 125, 137, 188, 191, 277, 291, 294, 302, 326, 415, 478, 544, 570, 591, 661, 764, 827, 906, 969], 'Computer Peripherals': [120, 204, 427, 655], 'Computer Software': [30, 80, 404, 482, 567, 571, 584, 604, 670, 808, 861, 912, 994], 'Computers, Office Equipment': [4, 18, 411, 635, 742], 'Construction and Farm Machinery': [53, 85, 153, 295, 376, 628, 641, 728, 962], 'Diversified Financials': [7, 16, 41, 92, 234, 246, 372, 462, 557, 698, 750, 790, 950, 967], 'Diversified Outsourcing Services': [206, 250, 514, 565, 653, 675, 688, 729, 782, 793, 859, 877, 907, 952], 'Education': [669, 745, 929], 'Electronics, Electrical Equip.': [73, 119, 147, 408, 442, 485, 694, 704, 871, 898, 910, 921], 'Energy': [195, 348, 352, 369, 445, 555, 608, 624, 648, 691, 711, 747, 800, 864, 873, 893], 'Engineering, Construction': [135, 238, 285, 342, 360, 420, 423, 479, 561, 572, 869, 928, 983], 'Entertainment': [56, 96, 103, 211, 221, 391, 428, 429, 577, 748, 756, 773, 775, 819, 826, 948], 'Financial Data Services': [237, 264, 307, 421, 467, 493, 499, 511, 723, 806, 841, 848, 850, 876, 885, 920, 941], 'Food Consumer Products': [43, 90, 164, 170, 172, 202, 209, 271, 305, 309, 341, 375, 466, 583, 597, 613, 646, 677, 685, 766, 838, 891, 966], 'Food Production': [33, 68, 82, 243, 416, 461, 568, 621, 735, 802], 'Food Services': [109, 186, 227, 324, 579, 610, 776, 817, 856, 992], 'Food and Drug Stores': [9, 19, 34, 83, 100, 116, 163, 213, 606, 636, 676, 761, 801, 830, 863, 945], 'Forest and Paper Products': [354, 469, 595, 820], 'General Merchandisers': [0, 35, 98, 104, 156, 158, 223, 249, 280, 399, 609, 787], 'Health Care: Insurance and Managed Care': [13, 37, 48, 57, 89, 185, 215, 233, 300, 644, 918, 995], 'Health Care: Medical Facilities': [74, 134, 169, 230, 323, 490, 494, 638, 741, 770, 892], 'Health Care: Pharmacy and Other Services': [21, 374, 413, 439, 475, 586, 689, 788, 815, 825, 884, 932], 'Home Equipment, Furnishings': [260, 333, 347, 454, 587, 622, 757, 758, 943], 'Homebuilders': [353, 363, 452, 576, 627, 734, 829, 886, 894, 956, 990], 'Hotels, Casinos, Resorts': [208, 220, 279, 288, 327, 441, 476, 496, 582, 814, 839, 934], 'Household and Personal Products': [31, 139, 178, 270, 321, 446, 468, 566, 578, 701, 834, 844], 'Industrial Machinery': [200, 229, 345, 527, 541, 558, 625, 631, 681, 692, 746, 769, 771, 785, 791, 792, 795, 804, 822, 851, 872, 905, 968, 985, 993], 'Information Technology Services': [23, 142, 228, 252, 287, 474, 505, 629, 673, 695, 998], 'Insurance: Life, Health (Mutual)': [79, 91, 93, 108, 253, 332, 480, 878, 889, 938], 'Insurance: Life, Health (stock)': [38, 54, 131, 222, 267, 272, 278, 281, 303, 386, 390, 585, 601, 607, 620, 686, 743, 803, 954, 963, 979], 'Insurance: Property and Casualty (Mutual)': [40, 84, 263, 424, 680, 798, 982], 'Insurance: Property and Casualty (Stock)': [3, 45, 77, 88, 111, 121, 152, 159, 210, 214, 284, 313, 357, 384, 435, 458, 471, 498, 503, 510, 524, 553, 575, 614, 751, 823, 949, 997], 'Internet Services and Retailing': [28, 39, 171, 241, 262, 338, 457, 560, 717, 732, 762, 857, 944], 'Mail, Package, and Freight Delivery': [46, 64], 'Medical Products and Equipment': [133, 184, 299, 337, 377, 465, 554, 634, 699, 712, 744, 765, 772, 855, 917, 958, 972], 'Metals': [124, 138, 175, 282, 325, 387, 414, 546, 600, 665, 727, 852, 961, 989], 'Mining, Crude-Oil Production': [50, 114, 136, 141, 151, 161, 166, 217, 226, 349, 378, 397, 495, 504, 519, 535, 559, 593, 617, 633, 651, 666, 720, 737, 767, 810, 812, 821, 858, 887, 888, 902, 925, 960, 984], 'Motor Vehicles and Parts': [5, 8, 65, 157, 165, 173, 174, 275, 311, 340, 343, 346, 393, 409, 640, 656, 667, 687, 706, 716, 783, 784, 811, 955, 973], 'Network and Other Communications Equipment': [59, 112, 296, 362, 486, 491, 516, 556, 580, 639, 683, 724, 927, 946], 'Oil and Gas Equipment, Services': [95, 118, 126, 274, 356, 447, 522, 549, 654, 659, 719, 777, 914, 942, 986, 991], 'Packaging, Containers': [113, 292, 317, 331, 365, 398, 450, 463, 515, 521, 533, 598, 599, 626, 837, 924], 'Petroleum Refining': [1, 2, 6, 12, 24, 76, 140, 148, 149, 154, 203, 344, 456, 501, 715, 733], 'Pharmaceuticals': [36, 55, 70, 117, 144, 145, 150, 194, 297, 368, 379, 537, 574, 663, 713, 789, 940], 'Pipelines': [52, 58, 66, 192, 236, 328, 405, 448, 632, 658, 664, 693, 740, 922, 957, 974], 'Publishing, Printing': [257, 330, 440, 530], 'Railroads': [122, 239, 255, 842], 'Real estate': [320, 477, 484, 487, 528, 697, 739, 813, 828, 847, 895, 931], 'Scientific,Photographic and Control Equipment': [146, 180, 388, 618, 674, 867, 896, 897, 939, 965], 'Securities': [266, 334, 355, 425, 434, 520, 564, 590, 619, 630, 679, 703, 726, 731, 807, 862, 935, 980, 999], 'Semiconductors and Other Electronic Components': [51, 189, 190, 232, 318, 339, 407, 431, 472, 552, 562, 721, 725, 768, 779, 794, 866, 868, 880, 900, 901, 926], 'Specialty Retailers: Apparel': [102, 187, 261, 268, 383, 531, 532, 536, 647, 700, 702, 705, 780, 818, 840, 843, 854, 865, 964], 'Specialty Retailers: Other': [17, 32, 49, 71, 132, 193, 201, 244, 259, 276, 293, 306, 310, 329, 364, 380, 381, 385, 392, 401, 422, 459, 473, 500, 543, 550, 596, 645, 649, 662, 668, 684, 708, 722, 760, 809, 860, 875, 909, 913, 923, 930, 988], 'Telecommunications': [11, 14, 42, 94, 129, 167, 207, 316, 400, 418, 451, 517, 539, 611, 650, 657, 883], 'Temporary Help': [143, 470, 551, 959], 'Tobacco': [101, 168, 336, 512, 853, 911], 'Toys, Sporting Goods': [438, 594], 'Transportation Equipment': [430, 432, 573, 615, 947], 'Transportation and Logistics': [224, 412, 455, 672, 908], 'Trucking, Truck Leasing': [406, 433, 509, 592, 718, 786, 796, 831, 970], 'Utilities: Gas and Electric': [110, 115, 162, 177, 181, 182, 183, 205, 225, 235, 240, 242, 245, 254, 256, 269, 273, 312, 366, 382, 403, 417, 437, 464, 518, 523, 525, 526, 682, 696, 709, 730, 752, 832, 835, 845, 881, 975, 977], 'Waste Management': [216, 322, 690, 849, 987], 'Wholesalers: Diversified': [67, 179, 198, 289, 298, 315, 359, 402, 410, 419, 444, 507, 508, 513, 547, 589, 623, 671, 759, 797, 879, 904, 916, 936], 'Wholesalers: Electronics and Office Equipment': [61, 106, 107, 130, 219, 488, 492, 774], 'Wholesalers: Food and Grocery': [60, 127, 351, 358, 396, 642], 'Wholesalers: Health Care': [10, 15, 25, 286, 308, 616], 'zMiscellaneous': [97, 361, 443, 460, 749, 753, 846, 951]}

In [ ]:
industries.get_group('state')

In [38]:
industries.sum().head()

,lon,lat,company,location,state,city
industry,,,,,,
"Advertising, marketing",-148.0118,81.4256,Omnicom GroupInterpublic Group,"New York, NYNew York, NY",NYNY,New YorkNew York
Aerospace and Defense,-1835.3981,880.1807,BoeingUnited TechnologiesLockheed MartinGenera...,"Chicago, ILHartford, CTBethesda, MDFalls Churc...",ILCTMDVAVAMARINYORVAKSIAVAFLVAPANYNCOHVAWAIL,ChicagoHartfordBethesdaFalls ChurchFalls Churc...
Airlines,-833.8600,287.9102,American Airlines GroupDelta Air LinesUnited C...,"Fort Worth, TXAtlanta, GAChicago, ILDallas, TX...",TXGAILTXNYWAUTHI,Fort WorthAtlantaChicagoDallasLong Island City...
Apparel,-1403.9039,580.8534,NikeVFPVHRalph LaurenHanesbrandsCoachLevi Stra...,"Beaverton, ORGreensboro, NCNew York, NYNew Yor...",ORNCNYNYNCNYCATXMDGAMICACANYOR,BeavertonGreensboroNew YorkNew YorkWinston-Sal...
"Automotive Retailing, Services",-796.5942,318.1319,AutoNationPenske Automotive GroupCarMaxGroup 1...,"Fort Lauderdale, FLBloomfield Hills, MIRichmon...",FLMIVATXNCNJGAORTX,Fort LauderdaleBloomfield HillsRichmondHouston...

In [35]:
industries['lat'].mean().sort_values()

industry
Oil and Gas Equipment, Services        30.954506
Pipelines                              32.730750
Mining, Crude-Oil Production           34.332954
Engineering, Construction              34.339592
Mail, Package, and Freight Delivery    34.449250
                                         ...
Insurance: Life, Health (Mutual)       41.488010
Transportation Equipment               41.706020
Motor Vehicles and Parts               41.894160
Temporary Help                         42.587800
Transportation and Logistics           43.521540
Name: lat, Length: 74, dtype: float64

In [39]:
#WORKING ON NEW DATASET

In [41]:
ipl=pd.read_csv('deliveries.csv')
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [42]:
ipl.shape

(150460, 21)

In [43]:
#TOP 5 BATSEM WITH HIGHER NO.OF RUNS

In [52]:
runn=ipl.groupby('batsman')

In [54]:
runn.get_group('V Kohli')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [56]:
runn['batsman_runs'].sum().sort_values(ascending=False)

batsman
SK Raina        4548
V Kohli         4423
RG Sharma       4207
G Gambhir       4132
DA Warner       4014
                ...
Abdur Razzak       0
S Kaushik          0
S Ladda            0
U Kaul             0
RR Bhatkal         0
Name: batsman_runs, Length: 461, dtype: int64

In [59]:
runn['batsman_runs'].sum().sort_values(ascending=False).head()  # ANS : Top 5 Batsmen

batsman
SK Raina     4548
V Kohli      4423
RG Sharma    4207
G Gambhir    4132
DA Warner    4014
Name: batsman_runs, dtype: int64

In [60]:
# Q2 : Top 5 Batsman with More Fours

In [61]:
mask=ipl['batsman_runs']==4
new_ipl=ipl[mask]

In [62]:
new_ipl.shape[0]

17033

In [66]:
new_ipl.groupby('batsman')['batsman_runs'].count().sort_values(ascending=False).head()

batsman
G Gambhir    484
SK Raina     402
DA Warner    401
S Dhawan     401
V Kohli      384
Name: batsman_runs, dtype: int64

In [67]:
#Q3 V Kohli scored highest runs against which team?

In [68]:
vk=ipl[ipl['batsman']=='V Kohli']

In [69]:
vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [70]:
#function for above question for different batsmen

In [82]:
def run_scored(batsman_name):
    vk=ipl[ipl['batsman']==batsman_name]
    return vk.groupby('bowling_team')['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [83]:
run_scored('V Kohli')

'Chennai Super Kings'

In [84]:
run_scored('DA Warner')

'Kolkata Knight Riders'

In [ ]:

#isin()

In [85]:
#Q : Find most destructive death over(last 5 over) batsman in the history of IPL
#Strike Rate=(No.of Runs/No.of Balls)/100
#Min batsman 200 balls played in over 16-20

In [93]:
dOver=ipl[ipl['over']>15]

In [99]:
allbatsman=dOver.groupby('batsman')['batsman_runs'].count()
x=allbatsman>200
allbatsman[x].shape

(43,)

In [102]:
batsmanlist=allbatsman[x].index.tolist()
batsmanlist

['A Mishra',
 'AB de Villiers',
 'AD Mathews',
 'AM Rahane',
 'AR Patel',
 'AT Rayudu',
 'BJ Hodge',
 'DA Miller',
 'DA Warner',
 'DJ Bravo',
 'DJ Hussey',
 'DPMD Jayawardene',
 'Harbhajan Singh',
 'IK Pathan',
 'JA Morkel',
 'JH Kallis',
 'JP Duminy',
 'JP Faulkner',
 'KA Pollard',
 'KD Karthik',
 'KM Jadhav',
 'LRPL Taylor',
 'MK Pandey',
 'MK Tiwary',
 'MS Dhoni',
 'NV Ojha',
 'P Kumar',
 'PP Chawla',
 'R Vinay Kumar',
 'RA Jadeja',
 'RG Sharma',
 'RV Uthappa',
 'S Badrinath',
 'S Dhawan',
 'SK Raina',
 'SPD Smith',
 'SS Tiwary',
 'STR Binny',
 'V Kohli',
 'WP Saha',
 'Y Venugopal Rao',
 'YK Pathan',
 'Yuvraj Singh']

In [123]:
#runs scored by all these 43 batsman
#balls played by these 43 batsman

final=dOver[dOver['batsman'].isin(batsmanlist)]

In [124]:
runns=final.groupby('batsman')['batsman_runs'].sum()

In [125]:
ballls=final.groupby('batsman')['batsman_runs'].count()

In [127]:
sr=(runns/ballls)*100

In [122]:
sr

batsman
A Mishra             89.005236
AB de Villiers      145.129059
AD Mathews          120.868114
AM Rahane           117.486549
AR Patel            122.672065
AT Rayudu           123.014257
BJ Hodge            121.422376
DA Miller           137.709251
DA Warner           138.318401
DJ Bravo            122.286822
DJ Hussey           120.072661
DPMD Jayawardene    118.791064
Harbhajan Singh     135.194585
IK Pathan           116.751269
JA Morkel           136.938202
JH Kallis           105.936272
JP Duminy           121.970624
JP Faulkner         129.802956
KA Pollard          140.621266
KD Karthik          123.008475
KM Jadhav           130.555556
LRPL Taylor         120.070838
MK Pandey           116.938453
MK Tiwary           114.127424
MS Dhoni            132.835821
NV Ojha             114.528024
P Kumar             105.263158
PP Chawla           110.278373
R Vinay Kumar       106.666667
RA Jadeja           118.792867
RG Sharma           128.497251
RV Uthappa          127.635135
S Badrinath         115.742972
S Dhawan            118.502496
SK Raina            134.995548
SPD Smith           128.507127
SS Tiwary           114.851485
STR Binny           123.747981
V Kohli             126.588437
WP Saha             127.727646
Y Venugopal Rao     113.872832
YK Pathan           140.751445
Yuvraj Singh        126.390244
Name: batsman_runs, dtype: float64